body, ul, li {
    padding: 0;
    margin: 0;
}
#left-panel {
    float: left;
    background-color: #2A3542;
    width: 180px;
    min-height: 400px;
    height: 100%;
    margin-right: 0px;
}
.nav-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 8px;
    display: block;
    position: relative;
    text-align: center;
}
.nav-menu li.selected a {
    background-color: #35404d;
    color: #fff;
}
.nav-menu li a:hover {
    color: #fff;
}
.nav-menu li a span {
    vertical-align: middle;
}
.nav-menu li a .nav-select {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;/**透明*/
    border-right-color: #F1F2F7;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

#center-panel {
    float: left;
    height: 100%;
}

.left {
    float: left;
    width: 400px;
}
.right {
    float: right;
    width: 400px;
}