body {
    background-color: #f5f5f5;
}
.header-top .top-title {
    background-color: #e5e5e5;
    padding: 4px 0;
}
.header-top .top-title h2 {
    width: 1104px;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
}
.header-top .logo_pos {
    margin: 0px auto 0px auto;
    width: 1104px;
}
.header-top .logo_pos .logo-pic {
    /*width: 290px;*/
    min-height: 90px;
    background: url('../image/logo.png') no-repeat;
    float: left;
}
.header-top .logo_pos .logo_name {
    color: #DE4240;
    font-size: 26px;
    font-weight: bold;
    margin-left: 310px;
    margin-top: 26px;
    display: block;
}
.logo_pos .barcode {
    text-align: right;
}
.logo_pos .barcode img {
    width: 40px;
    height: 40px;
}
.header-top .barcode-big {
    visibility: hidden;
    border: 1px solid #B81F19;
    margin-left: 4px;
}
.header-top .barcode-big img {
    width: 90px;
    height: 90px;
}
.logo_pos .teacher {
    font-size: 18px;
    color: #DE4240;
    font-weight: bold;
}
.logo_pos .phone {
    font-size: 16px;
    font-weight: bold;
    color: #DE4240;
    font-style: italic;
}
/**菜单样式*/
.nav-bg {
    background-color: #E24544;
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 12px;
}
.nav-menu {
    position: relative;
    left: 50%;
    float: left;
}
.nav-menu .nav-ul {
    position: relative;
    left: -50%;
    z-index: 99;
}
.nav-menu .nav-li {
    position: relative;
    float: left;
    border-right: 1px solid #B81F19;
}
.nav-menu .nav-li a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 0px 24px;
}
.nav-menu .nav-li ul {
    display: none;
    background-color: #B81F19;
    border: 1px solid #B81F19;
    position: absolute;
    top: 40px;
    left: 0;
}
.nav-menu .nav-li ul a {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

/**滚动图片样式*/
.show-area {
    position: relative;
    width: 1104px;
    height: 530px;
    margin: 0px auto 16px auto;
    overflow: hidden;
}
.img-list {
    position: relative;
}
.img-list ul {
    position: absolute;
}
.img-list ul li {
    float: left;
}
.img-list a {
    cursor: default;
}
.img-list a img {
    width: 1104px;
    height: 530px;
    border-width: 0;
}

.operation .last_next {
    display: none;
}
.main-area .button span {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -23px;
    display: block;
    width: 32px;
    height: 46px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.main-area .button span:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.main-area .button span.last {
    left: 10px;
    background: #464646 url('../image/arrowl.png') no-repeat 6px 6px;
}
.main-area .button span.next {
    right: 10px;
    background: #464646 url('../image/arrowr.png') no-repeat 6px 6px;
}
.main-area .dot-wrap {
    position: absolute;
    left: 50%;
    bottom: 15px;
    float: left;
    z-index: 10;
}
.main-area .dot-wrap .img-nav {
    position: relative;
    left: -50%;
    padding: 2px 3px;
    background-color: #f3f3f3;
    border: 2px solid #e6e6e6;
    border-radius: 12px;/*设置圆角*/
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-area .dot-wrap .img-nav li {
    float: left;
    margin: 0px 2px;
    font-size: 0;
    text-align: center;
}
.main-area .dot-wrap .img-nav li a {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;/*设置圆角*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    background-color: #dfdfdf;
}
.main-area .dot-wrap .img-nav li.select a {
    background-color: #ff3300;
}

/**内容区**/
#content {
    width: 1104px;
    margin: 20px auto 40px auto;
    font-size: 14px;
    line-height: 28px;
}
.left {
    width: 240px;
    float: left;
    text-align: center;
}
.left li {
    background-color: #dadada;
    padding: 8px 12px;
    border-top: 1px dashed #626262;
    border-left: 6px solid #B81F19;
    color: #474747;
}
.left li.select {
    border-left: 6px solid #B81F19;
}
.left li:first-child {
    border-top-width: 0;
}
.left .barcode {
    margin-top: 20px;
    border: 1px solid #B81F19;
    text-align: center;
}
.left .barcode img {
    width: 236px;
    height: 236px;
}

.right {
    width: 760px;
    float: right;
}
.right .location {
    margin-bottom: 32px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #B81F19;
}
.right .location a {
    color: #171df3;
}
.right .location a:hover {
    color: #171df3;
    text-decoration: underline;
}
.right .empty-tip {
    color: #a6a6a6;
    font-size: 16px;
}

/*******首页展示*******/
.sports-box {
    border: 1px solid #bfbfbf;
}
.sports-box li{
    width: 200px;
    padding: 40px 0px;
    float: left;
    background-color: #e0e0e0;
    margin: 15px 37px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #282828;
}
.sports-box li:hover {
    background-color: #ae180a;
    color: #fff;
}
.sports-box li a {
    color: #282828;
}
.sports-box li a:hover {
    color: #fff;
}

.video-news {
    height: 280px;
    border: 1px solid #bfbfbf;
    margin: 20px 0;
}
.video-box {
    width: 550px;
    float: left;
    border-right: 1px solid #bfbfbf;
    height: 100%;
}
.news-box {
    width: 550px;
    float: right;
}
.video-box .video-title, .news-box .news-title, .sports-box .sports-title {
    border-bottom: 1px solid #bfbfbf;
    background: #b81f19;
    line-height: 40px;
}
.video-box h2 {
    color: #c6c6c6;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;

}
.video-box .video-title span, .news-box .news-title span, .sports-box .sports-title span {
    background: #b81f19;
    height: 40px;
    width: 120px;
    display: inline-block;
    color: #fff;
    padding-left: 10px;
}
.news-box li {
    list-style: disc;
    margin-left: 16px;
}
.news-box li a, .news-box li a:visited {
    color: #282828;
}
.news-box li a:hover {
    color: #b81f19;
}

.teach-show {
    margin-top: 35px;
    border: 1px solid #bfbfbf;
}
.teach-show .teach-title {
    position: relative;
    left: 50%;
    margin-left: -200px;
    margin-top: -35px;
    background-color: #f5f5f5;
    width: 340px;
    padding: 20px 30px;
    text-align: center;
    font-size: 22px;
}
.teach-show .img-show {
    position: relative;
    left: 0;
    overflow: hidden;
    height: 180px;
}
.teach-show .img-show li {
    width: 200px;
    /*padding: 10px 10px;*/
    position: absolute;
    left: 0;
}
.teach-show .img-show li .img-note {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 2px 0;
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    display: none;
}
.teach-show .img-show img {
    width: 200px;
    height: 160px;
    border-width: 0;
}

/**关于我们*/
.right .introduce-us h2{
    text-align: center;
    color: #474747;
    font-size: 18px;
    font-weight: bold;
}
.right .introduce-us h4{
    text-align: center;
    color: #474747;
    font-size: 14px;
    font-weight: bold;
}
.right .introduce-us p {
    color: #474747;
    font-size: 14px;
    text-indent: 2em;
}

/**留言框*/
#leave-message-box {
    background-color: #f5f5f5;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 50%;
}
.message-big-box{
    margin-top: -142px;
    width: 250px;
    display: none;
    background-color: #f5f5f5;
    border: 1px solid #fe542d;
}
.box-title {
    padding: 6px 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #fe542d;
    background-image: linear-gradient(to bottom, #fe542d, #e44b2d);/*css3标准*/
    background-image: -ms-linear-gradient(top, #fe542d, #e44b2d);/*IE9*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe542d', endColorstr='#e44b2d', GradientType='0');/*IE8-*/
    background-image: -o-linear-gradient(top, #fe542d, green);/*Opera浏览器*/
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe542d), color-stop(1, #e44b2d));/*saf4+和chrome浏览器*/
}
.box-title .title-text {
    margin-left: 4px;
    float: left;
}
.box-title .small-box {
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-right: 8px;
    cursor: pointer;
}
.box-body li {
    margin: 6px;
}
.box-body li textarea, .box-body li input[type='text'] {
     border: 1px solid #acacac;
     width: 220px;
     height: 30px;
     padding: 0 4px;
}
.box-body li textarea:focus, .box-body li input[type='text']:focus {
    border: 1px solid #1e46fe;
}
.box-body li textarea {
    height: 82px;
    resize: none;
    overflow: auto;/**IE9下多行文本框默认有滚动条*/
    word-wrap: break-word;/**长英文单词自动换行*/
}
.box-body .btn-message {
    width: 228px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: #F45E2C url('../image/button/btn_bg.gif') repeat-x;
    border: 1px solid #e44b2d;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.box-body .btn-message:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.box-body li input.invalid-message {
    border: 1px solid red;
}
.message-small-box {
    margin-top: -46px;
    padding: 4px 6px;
    background-color: #fe542d;
    background-image: linear-gradient(to bottom, #fe542d, #e44b2d);/*css3标准*/
    background-image: -ms-linear-gradient(top, #fe542d, #e44b2d);/*IE9*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe542d', endColorstr='#e44b2d', GradientType='0');/*IE8-*/
    background-image: -o-linear-gradient(top, #fe542d, green);/*Opera浏览器*/
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe542d), color-stop(1, #e44b2d));/*saf4+和chrome浏览器*/
}
.message-small-box h2 {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/*******少儿健康********/
.health-box {
    font-size: 16px;
    width: 900px;
    margin: 20px auto;
    border: 1px solid #bfbfbf;
    padding: 20px 24px;
}
.health-box .bold-red {
    font-weight: bold;
    color: red;
}
.health-topic h2 {
    font-weight: bold;
    color: #DE4240;
    text-align: center;
    font-size: 24px;
    letter-spacing: 12px;
}
.health-topic h2 em {
    font-style: normal;
}
.health-topic .health-calc li {
    margin: 4px 0;
    text-align: center;
}
.health-topic .health-calc label {
    letter-spacing: 8px;
}
.health-topic .health-calc em {
    font-style: normal;
}
.health-topic .health-calc input[type='text'] {
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    vertical-align: middle;
    width: 170px;
    font-size: 12px;
    border: 1px solid #b5cadf;
    color: #585858;
    margin: 4px 10px;
}
.health-topic table, .health-rules table {
    border: 1px solid #DE4240;
    border-collapse: collapse;
    margin: auto;
}
.health-topic table th, .health-rules table th, .health-topic table td,
.health-rules table td {
    border: 1px solid #DE4240;
    padding: 4px 20px;
    white-space: nowrap;
    text-align: center;
}
.health-box .health-rules p {
    text-indent: 2em;
}





/**footer*/
#footer {
    padding: 20px 0;
    background-color: #1f1f1f;
    color: #d9d9d9;
    text-align: center;
    margin-top: 66px;
}